<head><title>{{.Title}}</title></head>
<a href="/tuber"><- back to all apps</a>
{{if .Error}}
	<p>{{.Error}}</p>
{{else}}
	<h1>{{.Name}}</h1>
	<p>Available at - <a href="{{.Link}}">{{.Link}}</a> - if it uses your cluster's default hostname.</p>
	<p>created from <a href="../../{{.SourceAppName}}">{{.SourceAppName}}</a></p>
  {{if not .SuccessfulBuildExists}}
		<br>
		<p>no successful build exists yet, so the app will not work.</p>
  {{end}}
	<h2>Builds</h2>
	<table>
			{{range $build := .Builds}}
			<tr>
				<td><a href="{{$build.Link}}">{{$build.StartTime}}</a></td>
				<td>{{$build.Status}}</td>
			</tr>
      {{end}}
	</table>
{{end}}